body{
	background: #f0f0f0;
	min-width: 1170px;
	height: 100%;
	position: relative;
}
body,html{
	height: 100%;
}
.wrap{
	width: 100%;
	/*min-height: 268px;*/
}
#quyuy{
    width: 85px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
}
.header .topBar a {
    color: #fff;
    margin-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}
.denglu{
    /*width: 230px;*/
    float: right;
    position: relative;
}
.denglu>a{
    display: inline-block;
}
.denglu a img{
    display: inline-block;
    position: relative;
    left: 15px;
    top: -3px;
}
#quyu_list{
    position: absolute;
    top: 28px;
    left: 0px;
    width: 130px;
    height: 160px;
    display: none;
    z-index: 9999999 !important;
    font-size: 13px;
}
#quyu_list li{
    background: #8b0209;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#quyu_list li:hover{
    background: #df5c62;
}
#quyu_list li:hover a{
    color: #fff;
}
#quyu_list li a{
    color: #f4c7c4;
    display: block;
    height: 30px;

}
.deng_lu1{
  line-height: 30px;
}
.deng_lu1 a{
  font-size: 14px;
}
.deng_lu1 a:hover{
  color: #f90 !important;
}
#quyuyunxl{
  margin-right: 45px;
  position: relative;
}
#quyuyunxl a:hover{
 color: #fff !important;
}
#quyuyunxl a img{
    display: inline-block;
    position: relative;
    left: 15px;
    top: -3px;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	 -ms-box-sizing:border-box;
	 -moz-box-sizing:border-box;
	 -o-box-sizing:border-box;
	 box-sizing:border-box;
}

.if_bot{
	width: 100%;
	height: 255px;
	overflow: hidden;
}
.containerhead{
	width: 1188px;
	margin: 0 auto;
	padding: 0;
}
.container{
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}
 .row{
 	margin: 0;
 	width: 100%;
 }

/*公共头部样式 */
.header{
	width: 100%; 
	min-width: 1170px; 
	margin:0 auto;
}
.topBar{
	background: #404144;
	color: #FDFDFD; 
	border-bottom: 1px solid black;
	text-align:right; 
	line-height: 30px;
	margin: auto;
	height: 31px;
}
.topBar .denglu{
    width:72%;
    margin: 0 auto;
}

/* TODO @lutz 页头信息栏 */
.topBar .topBarCont{
	float: right;
}
.topBar .navbar-brand{
	font-size: 12px; 
	padding:3px 20px 0 0 ; 
	line-height: 30px; 
}
.topBar .nav-pills li{
	margin-left: 0;
}
.topBar .nav-pills a{
	display: block;
	padding:0 20px; 
	line-height: 30px;  
	color: #fff; 
}

.topBar .nav-pills a:hover { 
	background: #971217 !important; 
	color: #d1a5a5;
}
.topBar .nav-pills a.active{ 
	background: #971217;
}

.mainNav{
	background: #d71921; 
	height: 79px; 
	position: relative; 
	}/* TODO @lutz 主导航 */
.mainNav .logo{ 
	cursor: pointer; 
	float:left;  
	height: 79px; 
	background: url(../images/mainNavLine.png) repeat-y 100% 0; 
	margin-left: 15px;
}
.mainNav .logo img{
	margin:0; 
	padding: 0; 
	border: none; 
}
.mainNav .logoz{ 
	float:left; 
	line-height:79px; 
	color:#FFF; 
	font-size:16px; 
	margin-left:580px;
}
.mainNav .navbar-default{
	position: relative;  
	margin: 0 -15px; 
	background: none; 
	border: none; 
	border-radius:0;
}
.mainNav .navbar-default a{ 
	padding:0; 
	line-height: 79px;
}
.mainNav .navbar-default .navbar-nav>li{
	padding-right: 2px;
}
.mainNav .navbar-default .navbar-nav>li> a{
    color:#f6dddd; 
    font-size: 16px; 
    text-align: center; 
    width:100px;
    transition-duration: .5s;
     overflow:hidden;
 }
.mainNav .navbar-default .navbar-nav>li>a:hover{
    background: #f85554 !important;
}
.mainNav .navbar-default .navbar-nav>.active>a,.mainNav .navbar-default .navbar-nav>.active>a:hover
{
	color: #fff; 
}

.right{
	position: absolute;
	right: 0;
}
/*会展首页样式*/
.if-top{
	height: 110px;
	overflow: hidden;
}
/*banner样式*/
.banner{
	width: 100%;
	height: 400px;
	overflow: hidden;
}
.slide_imglist{
	height:400px;
	text-align: center;
	overflow: hidden;
}
.main{
	min-width: 1170px;
	margin: 0 auto; 
}
.slide{
	/*min-width: 1170px;*/
	position: relative;
}
.slide ul>li{
	width: 100%;
}
.switcher{
	overflow:hidden;
	width:134px;
	margin: 0 auto;
	position: relative;
	/*bottom: 20px;*/
	bottom: 30px;
	z-index: 99999;
}
.switcher a{
	overflow:hidden;
	margin-right:20px;
	background-color: #999;
	cursor: pointer;
	float: left;
	height: 12px;
	text-align: center;
	width: 12px;
	border-radius:100%;
}
.switcher .cur{
	background-color: #fc4043;
}
/*子banner*/
.subbanner{
	height: 170px;
	margin-top: 10px;
	width: 100%;
	background: #fff;
	position: relative;
}
.posion_re{
	position: relative;
}
.subbanbox{
	width: 100%;
	height: 170px;
	overflow: hidden !important;
	z-index: 99999;
	position: relative;
}
.subbanshow{
	width: auto;
	height: 170px;
	position: absolute;
}
.subban1{
	width: 292px;
	height: 170px;
	background: url(../images/shaw_05.png) no-repeat left bottom;
}
.subbanxq{
	width: 100%;
	height: 150px;
	padding-top: 37px;
}
.subbanxq dt{
	width: 130px;
	text-align: center;
	float: left;
}
.subbanxq dd h4{
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: bold;
	margin-bottom: 15px;
}
.subbanxq dd p{
	line-height: 20px;
	color: #999;
}
.next5,.prev5{
	width: 28px;
	height: 59px;
	position: absolute;
	top: 60px;
}
.prev5{
	background: url(../images/uleft_05.png) no-repeat;
	left: -30px;
}
.next5{
	background: url(../images/uleft_08.png) no-repeat;
	right: -40px;
}

 /*即将开展样式*/
 .main1{
	width: 100%;
	height: auto;
	clear: left;
 }
 .start-show{
 	width: 100%;
 	height: 330px;
 	margin-top: 30px;
 	margin-bottom: 29px;
 }
 .s-show-left,.s-show-right{
 	background: #fff;
 	height: 330px;
 	z-index: 9990;
 }
 .s-show-left{
 	width: 848px;
 	border-left: 1px solid #ccc;
 	border-right: 1px solid #ccc;
 }
 .s-show-right{
 	width: 298px;
 	border-right: 1px solid #ccc;
 }
.startBT,.onemin{
	width: 100%;
	height: 47px;
	background: #fff;
	border-bottom: 2px solid #cb2f2d;
	border-left: 8px solid #cb2f2d;
}
.startBT h4,.onemin h4{
	line-height: 48px;
	font-size: 18px;
	font-family: "微软雅黑";
}
.startBT h4 a{
	display: block;
	float: left;
	width: 131px;
	text-align: center;
}
.startBT h4 a.act{
	height: 47px;
	background: #fff;
	border: 2px solid #cb2f2d;
	border-bottom: none;
	color: #cb2f2d;
	

}
.startBT h4 a:hover{
	color: #cb2f2d;
	/* border: 1px solid #cb2f2d;
	border-bottom: none; */
}
#showTab{
	height: 280px;
	width: 848px;
	overflow: hidden;
	position: relative;
}
.showTab{
	width: 846px;
	background: #fff;
	padding-top: 24px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

.startcont{
	height: 195px;
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.cont-left{
	border-right: 1px solid #ccc;
	height: 100%;
}
.showList{
	width: 100%;
}
.showList dt{
	margin-left: 53px;
	margin-top: 29px;
	margin-right: 37px;
}
.showList dd{
	margin-top: 32px;
	color: #666;
}
.showList dd h4{
	font-weight: bold;
	color: #000;
	font-size: 14px;
	margin-bottom: 23px;
}
.showList dd p{
	font-size: 12px;
	height: 26px;
	margin-bottom: 
}
.showList dd p img{
	margin-right: 9px;
}
.xiangq{
	display: block;
	height: 26px;
	padding-top: 18px;
	margin-left: 73px;
}
.more{
	height: 60px;
	line-height: 60px;
}
.more a{
	color: #666;
	margin-right: 29px;
}
.more a:hover{
	color: #cb2f2d;
}
.onemin{
	padding-left: 13px;
}
.onemin a{
	width: 14px;
	color: #cb2f2d;
	margin-right: 19px;
}
/*一分钟了解会展角色*/
.showOption{
	width: 100%;
	height: 283px;
	border: 1px solid #ccc;
	border-right: none;
}
.so-left{
	height: 283px;
	padding: 0;
	border-right: 1px solid #ccc;
}
.so-left:last-child{
	border:none;
}
.sol-one li{
	height: 40px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	color: #666;
}
.sol-one li:last-child{
	border: none;
}
.sol-one li a{
	color: #666;
}
.sol-one li a:hover{
	color: #cb2f2d;
}
.sol-one li a i{
	display: inline-block;
	width: 65px;
}
.sol-one li a img{
	display: inline-block;
	margin-left: 30px;
}

/*推荐服务*/
.main2{
	width: 100%;
	margin-bottom: 29px;
	position: relative;
}
.hotService{
	width: 1167px;
	height: 329px;
	border:1px solid #ccc;
	border-top:none;
	background: #fff;
	overflow: hidden;
	position: relative;
}
.servBT{
	height: 48px;
	line-height: 48px;
	border-left:8px solid #cb2f2d;
	/*border-bottom: 1px solid #ccc;*/
}
.servBT h4{
	margin-left: 18px;
	width: 100px;
	line-height: 48px;
	font-size: 18px;
}
.servBT span{
	display: inline-block;
	height: 1px;
	font-size: 1px;
	width: 970px;
	border-bottom: 1px solid #cb2f2d;
	margin-right: 13px;
}
.servBT a{
	display: inline-block;
	/*width: 48px;*/
	/*line-height: 48px;*/
	height: 20px;
	font-size: 12px;
	color: #666;
}
.servBT a:hover{
	color: #cb2f2d;
}
.servcont{
	width: 1168px;
	height: 280px;
    border-top: 1px solid #cccccc;
}
.servshow,.servshow2{
	width: auto;
	height: 280px;
	position: absolute;
}
.serv-fenl{
	width: 233px;
	height: 280px;
	overflow: hidden;
	position: relative;
	border-right: 1px solid #ccc;
}
.servXQ{
	width: 100%;
	height: 280px;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 41px;
	
}
.serv-fenl:last-child{
	border: none;
}
.servXQ dt{
	width: 160px;
	height: 120px;
	margin:0 auto;
	
}
.servXQ dd{
	width: 160px;
	margin:0 auto;
	text-align: center;
}
.servXQ dd h4{
	line-height: 46px;
	font-size: 14px;
}
.servXQ dd h6,.servXQ dd p{
	color: #666;
}
.servXQ dd h6{
	font-size: 12px;
	margin-bottom: 9px;
}
.servXQ dd p img{
	margin-right: 5px;
}
.next,.prev,.next1,.prev1{
	width: 29px;
	height: 52px;
	position: absolute;
	top: 163px;
}
.prev,.prev1{
	background: url(../images/jt_03.png);
	left: 40px;
}
.next,.next1{
	background: url(../images/jt_05.png);
	right: 40px;
}
.sevrjs{
	width: 100%;
	height: 280px;
	position: absolute;
	left: 236px;
	top: 0;
	background: #f5f5f5;
	color: #b02020;
}
.sevrjs h4{
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.sevrjs p{
	text-indent: 2em;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
}
.sevrjs h5{
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.sevrjs h5 span{
	font-size: 26px;
}
.look{
	display: block;
	color: #fff;
	width: 80px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 3px;
	background: #cb2f2d;
	position: absolute;
	bottom: 10px;
	left: 77px;

}
.look:hover{
	color: #fff !important;
	text-decoration: underline;
}
/*政策条例*/
.Policy{
	padding: 0;
	margin: 0;
	height: 329px;
	border-right: 1px solid #ccc;
	position: relative;
}
.Policy-list{
	width: 100%;
	padding-top: 25px;
	padding-left:10px;
    border-top: 1px solid #cccccc;
}
.Policy:last-child{
	border: none;
}
.Policy-list li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	background: url(../images/dian_03.png) no-repeat 13px center;
    background-position: 0 14;
}
.Policy-list span{
	border: none;
	display: inline;
	margin-right: 20px;
	color: #999;
}
.Policy-more{
	position: absolute;
	right: 24px;
	bottom: 44px;
}
.Policy-more a{
	color: #666;
}
.Policy-more a:hover{
	color: #cb2f2d;
}
/*友情链接*/
.Friendship{
	height: 42px;
	line-height: 42px;
}
.main3{
	width: 100%;
	background: #fff;
	height: 259px;
}
/* .main3.fixed{
	position: absolute;
	width: 100%;
	bottom: 0;
} */
.fslist{
	margin-top: 40px;
	padding-left: 65px;
	height: 120px;
	border-right: 1px solid #ccc;
}
.fslist h4{
	font-size: 14px;
	margin-bottom: 9px;
}
.fslist ul li{
	margin-top: 9px;
}
.fslist ul li a{
	font-size: 12px;
	color: #666;
}
/*页脚*/
.footer{
	width: 100%;
	height: 82px;
	background: #fff;
	border-top: 1px solid #ccc;
	text-align: center;
	position: relative;
	margin-top: 25px;
	margin-bottom: 0 !important;
}
.footer2 h5{
	color: #999 !important;
	font-size: 12px;
}
.footer2 p{
	color: #999;
}
.footer2 p a{
	color: #999 !important;
}
.footer h5{
	color: #666;
	line-height: 82px;
}
.footer p{
	position: absolute;
	right: 115px;
	top: 34px;
}
.footer p a{
	padding-left: 13px;
	padding-right: 13px;
	color: #666;
}

/*行业会展样式*/
.Industry{
	width: 100%;
	height: auto;
	background: #fff;
}
.Ind{
	width: 100%;
	height: auto;
}
.Idadress{
	height: 40px;
	background: #fff;
	padding-left: 15px;
	border: 1px solid #ccc;
}
.mb20{
	margin-bottom: 10px;
}
.Idadress h4{
	line-height: 56px;
	font-size: 12px;
	color: #666;
}
.Idadress h4 a{
	color: #999;
}

/*多选择筛选*/
.financing-form-list div{ 
	line-height: 36px;
	font-size: 14px; 
	color: #999;
}
.financing-form-list>div{
	/*border-top: 1px dashed #ccc;*/
	
}

.financing-form-list-content a{ 
	text-decoration: none; 
	display: block; 
	padding: 0 10px;
	height: 36px; 
	line-height: 36px;
	float: left;
	font-size:14px;
	color: #999;
	border-bottom: 1px dashed #ccc;
	
}
.financing-form-more{
	width: 60px;
	height: 36px;
	border-bottom: 1px dashed #ccc;
	/*border-top: 1px dashed #ccc;*/

}
.financing-form-list-content { 
	/*max-width: 980px; */
	padding-right: 15px;
	height: 36px; 
	overflow: hidden;

}
.financing-form-list-content-more{
	display:inline-block;
	width: 42px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}
.left-txt{
	line-height: 36px;
	padding-left: 15px;
	border-bottom: 1px dashed #ccc;
	/*border-top: 1px dashed #ccc;*/
}

.financing-form-list div a:hover,.form-result a:hover,.form-result a{ 
	color: #f00;
	font-weight: bold;
}
.form-result{ 
	font-size: 14px; 
	margin-bottom: 10px;
}
.form-result a{ 
	padding:0px 10px; 
	margin-left: 10px
}
/*多选择筛选结束*/
/*搜索开始*/
.search{
	height: 70px;
	padding-top: 19px;
}
#search-text{
	width: 237px;
	height: 35px;
	border:1px solid #ccc;
	background: #fff;
	padding-left: 10px;
}
#Search{
	width: 75px;
	height: 33px;
	background: #d71921;
	color: #fff;
	border:none;
}
.white{
	background: #fff;
	height: 20px;
	border-bottom: 1px solid #ccc;
}
.hot-show-cont{
	width: 100%;
	height: auto;
	position: relative;
}
.hot-show-list{
	width: 100%;
	height: auto;
	display: none;
}
#hot-showing-list{
	height: auto;
}
.hot-showing{
	width: 100%;
	height: 292px;
	background: #fff;
	margin-bottom: 20px;
}
.hot-showing dl{
	width: 100%;
	height: 292px;
	position: relative;
}
.hot-showing dl dt{
	width: 380px;
	height: 292px;
	position: relative;
}
.bigjian{
	position: absolute;
	right: 16px;
	top: 0;
}
.bigping{
	position: absolute;
	top: 0;
	right: 72px;
}
.xping{
	position: absolute;
	bottom: 0;
	left: 0;
}
.xjian{
	position: absolute;
	right: 0;
	top: 0;
}
.hot-showing dl dd{
	width: 670px;
	height: 292px;
	margin-left: 68px;
	padding-top: 30px;
	position: relative;
}
.hot-showing dl dd h4{
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	/*font-weight: bold;*/
}
.hot-showing dl dd h4 span{
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.redfont{
	color: #f00 !important;
}
.hot-showing dl dd h4 span i{
	font-size: 18px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.hot-showing dl dd p{
	font-size: 12px;
	line-height:  24px;
	color: #999;
}
.hot-showing dl dd h5{
	margin-top: 20px;
	font-size: 12px;
	line-height: 28px;
	margin-bottom: 20px;
	clear: left;
}
.hot-showing dl dd h5 p{
	color: #000;

}
.hot-showing dl dd h5 p:first-child{
	width: 205px;
}
.call_we{
	width: 139px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	display: block;
	background: #d71921;
	color: #fff;
	position: absolute;
	right: 0px;
	bottom: 26px;
}
.call_we:hover{
	color: #fff !important;
	text-decoration: underline;
}
/*分页*/
.page{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.page ul{
	width: auto;
	margin: 0 auto;
	text-align: center;
}
.page ul li{
	
	display: inline-block;
}
.page ul li a.current{
	width: 32px;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
	background: #d71921;
	color: #fff;
	margin-right: 5px;
}
.page ul li a{
	width: 32px;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
	background: #fff;
	border:1px solid #ccc;
	color: #000;
	margin-right: 5px;
}
/*.page ul li:nth-child(2) a:hover{
	color: #fff !important;
}*/
.page ul li:first-child a,.page ul li:last-child a{
	display: inline-block;
	width: 58px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: #fff;
	border:1px solid #ccc;
	color: #000;
}
/*侧边栏*/
.rightadress{
	width: 60px;
	height: 265px;
	position: fixed;
	bottom: 20px;
	right: 1.4179%;
	display: none;
}
.rightadress a{
	display: block;
	width: 60px;
	height: 60px;
	color: #fff;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 42px;
}
.rightadress a:hover{
	color: #fff !important;
	text-decoration: underline;
}
.rightadress a:nth-child(1){
	background:#6ab8ff url(../images/icon_25.png) no-repeat center 5px;
}
.rightadress a:nth-child(2){
	background:#6ab8ff url(../images/icon_13.png) no-repeat center 10px;
}
.rightadress a:nth-child(3){
	background:#6ab8ff url(../images/icon_16.png) no-repeat center 10px;
}
.rightadress a:last-child{
	background:#6ab8ff url(../images/icon_28.png) no-repeat center 5px;
}
}
/*会展咨询*/
.main_call{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}
.mc_left{
	width: 300px;
	padding-right: 15px;
	padding-left: 20px;
	background: #f9f9f9;
}
.mc-left-cont {
	width: 100%;
	margin-bottom: 40px;
}
.mc-left-cont h4{
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px dashed #ccc;
	margin-top: 20px;
}
.mc-left-cont h5{
	font-size: 12px;
	font-weight: bold;
	height: 44px;
	line-height: 44px;

}
.mc-left-cont p{
	color: #999 !important;
	font-size: 12px;
	line-height: 22px;
}
.mc_right{
	background: #fff;
	width: 858px;
	height: auto;
	max-height: 850px;
	padding-top: 60px;
}
.tabbable2{
	height: 810px;
}
.user-news{
	width: 100%;
	height: 40px;
	border:none;
	margin: 0 auto;
	margin-left: 10px;
	border-left: 1px solid #ccc;
	/*border-bottom: 1px solid #ccc;*/
}
.user-news li{
	display: inline-block;
	border:none;
}
.user-news li.active a{
	height: 40px;
	border-left: none;
	border-top: 2px solid #d71921;
	border-bottom: 1px solid #ccc;
	color: #d71921;
}

.user-news li a{
	display: block;
	width: 140px;
	height: 40px;
	border: 1px solid #ccc;
	border-left: none;
	border-radius: 0;
	margin: 0;
}
.user-news li:hover a{
	height: 40px !important;
	border-top: 2px solid #d71921 !important;
	border-bottom: 1px solid #ccc !important;
	background: none;
	border-left: none !important;
	color: #d71921;
}
.mc_right .tab-content{
	margin-top: 20px;
	margin-left: 15px;
}
.news-List{
	margin-bottom: 34px;
}
.news-List dl{
	display: block;
	width: 100%;
	height: 170px;
	border-bottom: 1px dashed #ccc;
}
.news-List dl dt{
	width: 143px;
	height: 141px;
	margin-right: 15px;
}
.news-List dl dd h4{
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;

}
.news-List dl dd h3{
	display: block;
	color: #999 ;
	font-weight: normal;
	font-size: 12px;
	line-height: 24px;
}
.news-List dl dd h3 a{
	color: #999;
}
.news-List dl dd h3 strong{
	font-weight: normal;
	color: #999;
	margin-left: 15px;
}
.news-List dl dd h5{
	line-height: 40px;
	font-size: 14px;
}
/*会展服务*/
.mc_left2{
	width: 150px;
	height: 205px;
	background: #fff;
}
.mc_left2 .so-left{
	height: 205px;
	width: 100%;
}
.mc_right2{
	/*background: #fff;*/
	width: 1002px;
	height: auto;
	min-height: 300px;
	position: relative;
}
.mcr2-content{
	display: none;
}
.mcr2-content:nth-child(1){
	display: block;
}
.fanga{
	width: 100%;
	height: 750px;
	background: #fff;
}
.fang_tont{
	width: 950px;
	margin: 0 auto;
}
.fang_tont h4{
	height: 52px;
	line-height: 52px;
	font-size: 20px;
}
.fang_tont p{
	height: 40px;
	line-height: 40px;
	color: #999;
}
.jj{
	width: 100%;
	display: inline-block;
	height: auto;
}
.mrc_2{
	width: 100%;
	height: 1930px;
	margin-top: 30px;
	margin-bottom: 30px;
	background: #fff;
}
.mrc2_cont{
	width: 950px;
	margin: 0 auto;
	overflow: hidden;
}
.mrc2_bt{
	width: 100%;
	height: 128px;
	border-bottom: 1px dashed #ccc;

}
.mrc2_bt h4{
	font-size: 20px;
	padding-top: 30px;
	margin-bottom: 10px;
}
.mrc2_bt p{
	color: #999;
	line-height: 24px;
}
.mrc_2 dl{
	height: 299px;
	border-bottom: 1px dashed #ccc;
}
.mrc_2 dl dt{
	width: 350px;
	height:299px;
	padding-left: 50px;
	padding-top: 17px;
}
.mrc_2 dl dd{
	width: 520px;
	height: 299px;
	padding-right: 50px;
	padding-left: 55px;
	padding-top: 70px;
}
.mrc_2 dl dd h4{
	height: 96px;
	line-height: 96px;
	color: #666;
	font-size: 28px;
}
.mrc_2 dl dd p{
	line-height: 24px;
	color: #999;
}
.mrc_2 dl:last-child{
	border-bottom: none;
}
.mrc_3{
	width: 100%;
	height: 300px;
	background: #fff;
	margin-bottom: 30px;
}
.pt{
	height: 90px;
	line-height: 90px;
	font-size: 20px;
}
.mrc_3 dl{
	width: 101px;
	height: 180px;
	text-align: center;
	margin-left: 50px;
} 
.mrc_3 dl dd{
	margin-top: 25px;
}
.mrc_3 .slide_imglist{
	height: 180px;
}
.mrc_3 .mrc2_cont{
	width: 940px;
}
.mrc_3 .switcher{
	width: 80px;
}
.mrc_4{
	width: 100%;
	/* height: 690px; */
	background: #fff;
}
.mrc_4 .pt{
	height: 90px;
	border-bottom: 1px dashed #ccc;
}
.mrc_4 dl{
	height: 177px;
	border-bottom: 1px dashed #ccc;
}
.mrc_4 dl dt{
	margin:20px;
}
.mrc_4 dl dd{
	width: 720px;
	/*margin-top: 20px;*/
}
.mrc_4 dl dd h4{
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	color: #666;
	/*font-weight: bold;*/
}
.redfont{
	color: #f00 !important;
}
.mrc_4 dl dd h4 span i{
	font-size: 18px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
.mrc_4 dl dd p{
	font-size: 12px;
	line-height:  24px;
	color: #999;
}
.mrc_4 dl dd h5{
	font-size: 12px;
	line-height: 28px;
	color: #999;
	clear: left;
}
.mrc_4 dl dd h5 p{
	color: #999;

}
.mrc_4 dl dd h5 p a{
	color: #999;
}
.mrc_4 dl dd h5 p:first-child{
	width: 205px;
}
/*帮助中心*/
.help_left{
	width: 190px;
	border:1px solid #e5d9d9;
	margin-left:50px;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-right: 20px;
}
.bwhite{
	background: #fff;
}
.hp_h{
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	padding-left: 14px;
	border-left: 6px solid #cb2f2d;
	border-bottom: 1px solid #cb2f2d;
}
.accordion,.accordion2 {
 	width: 100%;
 	margin: 0 auto;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link,.accordion2 .link2 {
	cursor: pointer;
	display: block;
	height: 39px;
	line-height: 39px;
	padding-left: 15px;
	color: #4D4D4D;
	font-size: 12px;
	border-bottom: 1px solid #e5d9d9;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 12px;
	left: 12px;
	font-size: 18px;
	color: #999;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.glyphicon-play-circle {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link,.accordion2 li.open .link2 {
	color: #cb2f2d;
}

.accordion li.open i,.accordion2 li.open i {
	color: #cb2f2d;
}

.accordion li.open i.glyphicon-play-circle {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	font-size: 14px;
 }

 .submenu li {
 	margin-left: 10px;
 	margin-right: 10px;
 	padding-left: 15px;
 	height: 30px;
 	line-height: 30px;
 	border-bottom: 1px solid #ddd;
 }


 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #999;
 	font-size: 12px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	/*background: #eee;*/
 	color: #cb2f2d;
 }
 .help_right{
 	width: 860px;
 }
 .help_jj{
 	height: 93px;
 	background: #eee;
 	margin-top: 15px;
 	/*border-radius: 10px;*/
 }
.help_jj h4{
	width: 214px;
	height: 93px;
	padding-left: 15px;
	padding-top: 25px;
}
.help_ss{
	width: 398px;
	height: 38px;
	border: 1px solid #ccc;
	background: #fff;
	padding-left: 15px;
	margin-top: 15px;
}
.help_tj{
	height: 36px;
	width: 100px;
	background: #cb2f2d;
	border: none;
	color: #fff;
	margin-top: 15px;
	margin-left: 15px;
}
.hot_ss{
	height: 28px;
	line-height: 28px;
	font-size: 12px;
}
.hot_ss a{
	color: #999;
	margin-right: 15px;
}
.help_center{
	margin-top: 10px;
	border: 1px solid #eee;
	margin-bottom: 20px;
}
.help_center h4{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	background: #eee;
}
.help_center h4 span{
	font-size: 12px;
}
.help_center h4 span a{
	color: #f00;
	padding-left: 5px;
	padding-right: 5px;
}
.submenu2{
	display: none;
}
.submenu2 li{
	padding-top: 15px;
	line-height: 22px;
	margin-left: 4em;

}
.submenu2 li a{
	color: #999;
}
.accordion2 li.open i.glyphicon-play {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.accordion2 li i {
	position: absolute;
	top: 14px;
	left: 12px;
	font-size: 12px;
	color: #cb2f2d;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion2{
	/*margin-left: 25px;*/
	/*margin-right: 25px;*/
}
.accordion2 .link2{
	padding-left: 30px;
	border-bottom: 1px dashed #ccc;
}
/*资讯详情*/
.zx_xiangq{
	width: 825px;
	margin: 0 auto;
}
.zx_xiangq h3{
	font-size: 22px;
	text-align: center;
}
.zx_xiangq h6{
	line-height: 42px;
	text-align: center;
	color: #999;
	font-size: 12px;
}
.zx_xiangq h6 a{
	color: #999;
	margin-right: 23px;
}
.zx_xiangq p{
	text-indent: 2em;
	line-height: 25px;
	margin-top: 10px;
}
.zx_xiangq h4{
	margin-top: 40px;
	line-height: 38px;
	font-size: 12px;
	font-weight: bold;
}
.zx_xiangq h5{
	line-height: 30px;
	font-size: 14px;
	color: #666;
}
.zx_xiangq ol li{
	line-height: 28px;
	color: #666;
	list-style: square;
	margin-left: 20px;
}

.returnprev{
	margin-top: 20px;
	text-align: center;
	margin-bottom: 60px;
}
.returnprev a{
	color: #f00;
}
/*登录*/
.login-img{
	margin-top: 25px;
	margin-left: 0px;
	height: 530px;
}
.login-input{
	width: 382px;
	height: 425px;
	background: #fff;
	padding: 32px;
	margin-top: 25px;
}
.login-input h4{
	font-size: 24px;
	line-height: 52px;
}
.login-input h4 span{
	width: 202px;
	height: 1px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-bottom: 1px solid #666;
	display: inline-block;

}
.login-input ul li{
	width: 100%;
	height: 34px;
	line-height: 34px;
	margin-bottom: 20px;
}
.login-input ul li input{
	width: 100%;
	height: 32px;
	border-radius: 5px;
	border:1px solid #ccc;
	padding-left: 15px;
}
.login-btn{
	width: 298px;
	height: 34px;
	background: #cb2f2d;
	border:none;
	color: #fff;
	border-radius: 5px;
}
.alertbox{
	width: 250px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #cb2f2d;
	color: #cb2f2d;
	margin-bottom: 10px;
	margin-left: 20px;
	visibility:hidden;
}
.login-reg{
	margin-top: 10px;
}
.login-reg a{
	margin-left: 10px;
	margin-right: 10px;
}



/*注册*/
.reg_top{
	width: 100%;
	height: 50px;
	background: #d71921;
	border-bottom: 1px solid #CA1820;
}
.logo2{
	display: inline-block;
}
.logo2:hover{
	background: #df474d;
}
.logoimg{
	height: 50px;
	width: 450px;
}
.logoimg img{
	width: auto;
	height: 100%;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	float:left;
	margin-right: 15px;
}
.reg_right{
	height: 52px;
	line-height: 52px;
	/*width: 200px;*/
	color: #fff
}
.reg_right  ul{
	margin-right: 20px;
}
.reg_right a{
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	
}
.reg_right span{
	display: inline-block;
	line-height: 50px;
}
.reg_right a:hover{
	color: #fd979b !important;
}
.reg_right  li{
	display: inline-block;
}
.no-mony{
	width: 450px;
	height: 43px;
	margin-top: 40px;
	margin-bottom: 10px;
	line-height: 43px;
	padding-left: 40px;
	font-size: 26px;
	color: #666;
}
#step{
		
	height:70px;
	width:70%;
	margin:0 auto 10px;
	font-size:16px;
}
#step>div{
	width:30%;
	height:60px;
	float:left;
	text-align: center;
	color:#CBCBCB;
	margin-top:20px;
}
#step hr{
	margin:5px 0;
}
#stepOne{
	margin-left:5%;
}
#stepNum1{
	margin-left:0;
}
#stepTitle3{
	margin-right:25%;
}
.stepNum{
	background-color:#CBCBCB;
	border-radius:15px;
	height:30px;
	width:30px;
	color:#fff;
	line-height:30px;
	display: inline-block;
	font-size:1.5em;
	text-align:center;
}
.selectedStepNum{
	background-color:#E41E2B!important;
}
.baseHr{
	border-top:1px solid #CBCBCB;
	border-bottom:1px solid #CBCBCB;
	background-color:#CBCBCB;
}
.red{
	color: #E41E2B!important;
}

.selectedHr{
	border-top:1px solid #E41E2B;
	border-bottom:1px solid #E41E2B;
	background-color:#E41E2B
}
#selectedHr1{
	margin:-7px auto auto 0!important
}
#selectedHr2{
	margin:-7px auto auto!important
}
#selectedHr3{
	margin:-7px 0 auto auto!important
}
.regBack{
	height:auto;
	min-height:390px;
	margin:40px auto 10px;
	width:63%;
	color:#333;
	position:relative;
	font-size:14px
}
.regBack>ul{
	width:910px;
	margin-left:100px;
}
.regBack>ul input{
	background: #fff;
}
.regBack>div{
	width:100%;
	height:370px;
	margin-top:30px;
	padding-top:20px;
}
.regBack>div>div{
	width:70%;
	margin:10px auto auto 25%;
}
#stepContent1,#stepContent1 a,#stepContent1 a:hover{
	color:#333
}
.fContainer{
	margin:10px auto;
	float:left;
}
.fContainer:after,.fContainer:before{
	content:"";
	display:table;
	clear:both;
}
.fieldLabel{
	width:200px;
	float:left;
	margin-right:20px;
	height:36px;
	line-height:36px;
	color:#666;
}
.fieldLabel span{
	float:right;
}
.wphone{
	display: inline-block;
	float:right;
}
.notRequired,.required{
	margin-right:5px;
	width:5px;
}
.required{
	color:red;
	display:inline-block;
	float:right;
}
.notRequired{
	color:#F5F5F5;
	display:inline-block;
}
.li{
	display: block;
}
.tiny-input-text{
	width: 300px; 
	height: 36px; 
	line-height: 32px;
	border-radius:2px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,0.1) inset;
	border:1px solid #d5d5d5;
	color:#333;
	/* font-family:"Helvetica","Myriad","Arial","Microsoft Yahei","SimSun"; */
}
.errorInfo{
	height:36px;
	width:300px;
	float:left;
	margin:-5px auto 0;
	line-height:36px;
	color:#d71921; /*--错误提示信息颜色--*/
}
.errorInfo>span{
	margin-left:5px;
	color:#333;
}
.password{
	display: inline-block;
	float:right;
}
.fieldContainer{
	margin:10px auto;
	float:left;
}
.field{
	width:305px;
	float:left;
	margin-right:10px
}
.ceshi{
	display:inline-block;
	clear: both;
	float:left;
	width:520px;
	margin-top: 10px;
}
.passwordStrength{
	background:#CCC;
	display:block;
	float:right;
	font-size:.9em;
	height:17px;
	line-height:17px;
	margin-right:1px;
	margin-top:1px;
	text-align: center;
	width:55px
}
.chengdu{
	display: inline-block;
	float:right;
}
.msgBtn{
	height:34px;
	line-height:34px;
	border:1px solid #c3c3c3;
	background:#cb2f2d;
	color:#fff;
	cursor:pointer;
	width:168px;
	border-radius:5px;
	margin-left:2px;
	display:inline-block;
	text-align: center;
	vertical-align:middle
}
.msgBtn span{
	display:block
}

.tongy{
	margin-right: 154px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.compaty{
	display: inline-block;
	color: #00aaff;
	float: left;
}
.tiny-text{
	font-weight: normal;
}
.submitBtn span{text-align:center}
.submitBtn{
	background-color:#BC0000;
	border:1px solid #BC0000;
	border-radius:3px;
	color:#fff;
	cursor:default;
}
.submitBtn span{
	vertical-align:middle;
	font-size:large;
	height:35px;
	margin:0 auto;
	display:block;
	line-height:35px;
}
.btnDisabled{
	background-color:#CCC!important;
	border:1px solid #CCC!important;
}
.submitBtn span{
	text-align:center;
}
.submitBtnWidth{
	width:298px;
}
#stepContent{
	height: 460px;
}
.widthLimit{
	/*width: 620px;*/
}
.widthLimit input{
	background:#fff;
	padding-left: 15px;
	outline-color: #cb2f2d;
}
#stepContent2{
	margin-left: 100px;
	width: 840px;
}
.fContainer select{
	width: 120px;
	height: 30px;
	background: #fff;
	margin-right: 10px;
}
.fContainer label{
	font-weight: normal;
	margin-right: 10px;
}
#stepContent3{
	margin-left: 100px;
}
.stepContentDisplayLabel{
	display:inline-block;
	white-space:nowrap;
	float:left;
	font-size: 20px;
	line-height:48px;
	color:grey
}
.stepContentDisplayValue{
	line-height:28px;
	display:inline-block;
	word-wrap:break-word;
	float:left;
	word-break:break-all;
}
.clearBoth:after{
	content:'';
	display:table;
	clear:both;
}
#checkEmailBtn{
	margin-top:45px;
}
.submitBtnWidth{
	width:298px
}
.submitBtn{
	background-color:#BC0000;
	border:1px solid #BC0000;
	border-radius:3px;
	color:#fff;
	cursor:default
}
#step2Help{
	margin-top:50px;
}
#step2Help>span{
	color:#2C7FFF;
	vertical-align:top;
}
#stepContent1,#stepContent2,#stepContent3{
	display: none;
	position: absolute;
}
#stepContent1{
	display: block;
}
/*个人展会列表*/
.show_List{
	width: 230px;
	margin-right: 10px;
	border:1px solid #ccc;
}
.w1240{
	width: 1240px;
	margin: 0 auto;
}
.hp_h{
	background: #fff;
}
.link3{
	height: 45px;
	line-height: 46px;
	font-style: 14px;
	padding-left: 30px;
	background: #fff;
	cursor: pointer;
	display: block;
	border-bottom: 1px solid #ccc;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.link3 i{
	margin-left: 65px;
}
.link3 img{
	margin-right: 15px;
	margin-bottom: 3px;
}
.submenu3{
	display: none;
}
.submenu3 li.link_act{
	border-left: 3px solid #d71921;
	padding-left: 77px;
}
.submenu3 li.link_act a{
	color: #d71921;
}
.submenu3 li{
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #ccc;
	padding-left: 80px;
	background: #fff;
}
.submenu3 li a{
	color: #999;
}
.accordion3 li:last-child .link3 {
	border-bottom: 0;
}
.accordion3 li i {
	position: absolute;
	top: 16px;
	right: 50px;
	font-size: 18px;
	color: #999;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion3 li i.glyphicon-play-circle {
	right: 40px;
	left: auto;
	font-size: 14px;
}

.accordion3 li.open .link3 {
	color: #cb2f2d;
}
.accordion3 li.open i.glyphicon-play-circle {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.showlist_right{
	width: 1000px;
	background: #fff;
}
.showlist_right .startBT{
	height: 36px;
	line-height: 36px;
}
.showlist_right .startBT h4{
	height: 36px;
	line-height: 36px;
	font-size: 14px;
}
.showlist_right .startBT h4 a.act{
	height: 36px;
	line-height: 36px;
}
.show-list-search{
	width: 100%;
	height: 140px;
	padding-top: 30px;
}
.show-list-search h4{
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	margin-bottom: 20px;
}
.show-list-search i{
	width: 70px;
	display: inline-block;
	text-align: right;
	margin-right: 15px;
}
.show-list-search h4 input{
	width: 310px;
	height: 30px;
	padding-left: 15px;
	border:1px solid #ccc;
	background: #fff;
}
.show-list-search h4 select{
	width: 320px;
	height: 30px;
	border:1px solid #ccc;
}
.show-list-search h5 select{
	width: 176px;
	height: 30px;
	border:1px solid #ccc;
}
.showList_sear{
	width: 60px;
	height: 30px;
	background: #cb2f2d;
	color: #fff;
	border:none;
	margin-left: 130px;
	clear: right;
}


.show_data .table td{
	text-align: center;
}
.table1{
	height: 34px !important;
	border-spacing:0;
	margin-bottom: 0;
	background: url(../images/listbg_03.png) repeat-x;
}
.table2{
	margin-bottom: 0;
}
.show_data .table > thead > tr > th{
	line-height: 34px;
	padding: 0;
	vertical-align:center;
	border-bottom: none;
	text-align: center;
}
.show_data .table > tbody > tr > td{
	height: 98px;
	line-height: 24px !important;
	padding: 12px;
	vertical-align:center;
}
.show_data h4{
	height: 32px;
	line-height: 32px;
	background: #f5f5f5;
	font-size: 12px;
	padding-left: 16px;
}
.show_data h4 input{
	margin-right: 15px;
}
.show_data h4 i{
	margin-left: 5px;
	margin-right: 5px;
}
.showList_cont{
	width: 100%;
	height: auto;
	position: relative;
	
}
/*用户类型*/
.user_lx{
	width: 990px;
	margin: 0 auto;
	height: auto;
}

.user_lx_bt{
	width: 100%;
	height: 130px;
	line-height: 130px;
	font-size: 16px;
}
.user_lx_cont{
	width: 100%;
	height: 255px;
}
.user_lx_list{
	width: 180px;
	height: 248px;
	border: 1px solid #ccc;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	float: left;
	margin-right: 18px;
}
.user_lx_list:hover{
	background: #f4f5f9;
}
.user_lx_list:hover a{
	background: #f4f5f9;
}
.user_lx_list h4{
	font-size: 14px;
	margin-bottom: 15px;
}
.user_lx_list p{
	line-height: 22px;
}
.user_lx_list h4 img{
	margin-right: 10px;
}
.user_lx_list p{
	color: #999;
}
.user_lx_list a{
	display: block;
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-align: right;
	padding-right: 20px;
	background: #fbfbfb;
	border-top: 1px solid #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*展会信息*/
.sorebanner{
	height: 203px;
}
.sorebanner img{
	display: block;
}
.show_massage_bt{
	width: 100%;
	height: 62px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.show_massage_bt h4{
	font-size: 26px;
	line-height: 62px;
}
.time{
	height: 62px;
	width: 470px;
	background: url(../images/zh_07.png) repeat-x;
}
.time h5{
	font-size: 14px;
	line-height: 62px;
	color: #d71921;
	padding-left: 15px;
}
.time p{
	width: 228px;
	height: 62px;
	background: #141414;
}
.time p a{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	border-left: 1px solid #1d1d1d;
	color: #fff;
	font-weight: bold;
	height: 62px;
	padding-top: 5px;
	text-align: center;
}
.time p a i{
	display: block;
	font-size: 23px;
	color: #cccaca;
}
.show_massage{
	width: 100%;
	height: auto;
}
.sm_left{
	width: 270px;
	height: auto;
	margin-right: 30px;
}
.sm_tab{
	width: 100%;
}
.sm_tab ul{
	width: 100%;
}
.sm_tab ul li{
	width: 100%;
	height: 36px;
	border:1px solid #ccc;
	margin-bottom: 10px;
	background: url(../images/zh_11.png) repeat-x;
}
.sm_tab ul li a{
	font-weight: bold;
	border-radius: 0;
}
.sm_tab ul li a:hover,.sm_tab ul li.active a:hover{
	width: 100%;
	height: 36px;
	border: none;
	background: #d71921;
	color: #fff !important;
	border:none;
}
.sm_tab ul li.active{
	width: 100%;
	height: 36px;
	border: none;
	background: #d71921;

}
.sm_tab ul li.active a{
	background: none;
	color: #fff;
	border:none;
}
.sm_right{
	width: 870px;
	border:1px solid #ccc;
	height: auto;
	margin-bottom: 20px;
}
.sm_right_one{
	width: 100%;
	border:4px solid #f7f7f7;
	padding: 25px;
}
.sm_right_one h4{
	font-size: 18px;
	font-weight: bold;
}
.sm_right_one h5{
	font-size: 12px;
	font-weight: bold;
	margin-top: 18px;
}
.sm_right_one p{
	line-height: 28px;
}



/***************  列表样式 用于（参展展会 ） begin *******************/

.show_data_cz .table > thead > tr > th{
    line-height: 34px;
    padding: 0;
    vertical-align:center;
    border-bottom: none;
    text-align: center;
}
.show_data_cz .table > tbody > tr > td{
    height: 98px;
    line-height: 20px !important;
    padding: 10px;
    vertical-align:center;
}
.show_data_cz h4{
    height: 32px;
    line-height: 32px;
    background: #f5f5f5;
    font-size: 12px;
    padding-left: 16px;
}
.show_data_cz h4 input{
    margin-right: 15px;
}
.show_data_cz h4 i{
    margin-left: 5px;
    margin-right: 5px;
}

/***************  列表样式 用于（参展展会） end *******************/
/***************  文字性列表样式 用于（门票统计 我的门票  场馆信息 场馆预约信息） begin *******************/

.show_data_wz .table > thead > tr > th{
    line-height: 34px;
    padding: 0;
    vertical-align:center;
    border-bottom: none;
    text-align: center;
}
.show_data_wz .table > tbody > tr > td{
    height: 20px;
    line-height: 20px !important;
    padding: 10px;
    vertical-align:center;
}
.show_data_wz h4{
    height: 32px;
    line-height: 32px;
    background: #f5f5f5;
    font-size: 12px;
    padding-left: 16px;
}
.show_data_wz h4 input{
    margin-right: 15px;
}
.show_data_wz h4 i{
    margin-left: 5px;
    margin-right: 5px;
}

/***************  文字性列表样式 用于（门票统计 我的门票  场馆信息 场馆预约信息） end *******************/

/***************   会展资讯   ********************/
#news{ padding:10px;}
/***************   会展资讯   ********************/

/***********************************应用列表页样式 start **************************************************/
ul.nav-pills li a{padding: 8px 8px;} 
.hometitle{ font-size:30px; position:relative; color:#333; padding-bottom:10px; width:100%; display:inline-block;}
.icon_container .hometitle{ height:47px;}
.icon_container .hometitle h3 {
  font-size: 30px;
  float:left; margin:0px;
}
.border{ border-top:1px solid #ccc; float:left;width:85.5%; margin-top:23px; margin-left:20px;}
.col-xs-9 .border{ width:82.5%;}
.col-xs-3 .border{ width:48.5%;}
.course-filter .nav-pills > li.active > a {
    color: #df9723;
}
.course-filter .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background: #fff;
    border: 1px solid #D71921;
    color: #D71921;
}
.course-list .course-item {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 2px -1px rgba(0,0,0,0.1),0 1px 5px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1),0 1px 2px -1px rgba(0,0,0,0.1),0 1px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1), 0px 1px 2px -1px rgba(0,0,0,0.1), 0px 1px 5px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.course-list .course-item .course-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.course-list .course-item .title {
    margin: 10px auto;
    padding: 0 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.course-list .course-item .metas {
    padding: 10px;
    border-top: 1px solid #f1f1f1;
    color: #c1c1c1;
}
.course-list .course-item .metas i {
    margin-right: 5px;
}
.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.course-list .course-item .metas .price {
    float: right;
    color: #D71921;
    font-size: 14px;
    margin-right: 0px;
}
.course-list .course-item:hover, .pagelist .hot-showing dl:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1), 0px 3px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1),0 3px 6px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.1),0 3px 6px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 20px rgba(0,0,0,0.1),0 3px 6px rgba(0,0,0,0.6);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
/***********************************应用列表页样式 end **************************************************/

/***********************************条件选择 start **************************************************/
.condition-select{padding:10px 10px;/*border:#ddd 1px solid;*/border-radius:4px;margin:10px auto;font-size:14px}
.condition-select li{list-style:none;padding:10px 0 5px 100px}
.condition-select .select-list{border-bottom:#eee 1px dashed}
.condition-select dl{zoom:1;position:relative;line-height:24px;}
.condition-select dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.condition-select dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}
.condition-select dd{float:left;display:inline;margin:0 0 5px 5px;}
.condition-select a{display:inline-block;white-space:nowrap;height:22px;padding:0 10px;text-decoration:none;color:#666;border-radius:2px;}
.condition-select .selected a{color:#fff;background-color:#D71921}
.condition-select-result dt{font-weight:bold}
.condition-select-no{color:#999}
.condition-select .condition-select-result a{padding-right:20px;background:#D71921 url("../images/close.gif") right 9px no-repeat}
.condition-select .condition-select-result a:hover{background-position:right -15px}
.condition-select a:hover{color:#D71921;background-color:#E2E2E2}
/***********************************条件选择 end **************************************************/


/***********************************客服 start **************************************************/
.fixleft {
    position: fixed;
    bottom: 80px;
    right: 19px;
    z-index: 2010;
}
.fixleft a {
    height: 50px;
    width: 50px;
    display: block;
    position: relative;
    margin-bottom: 2px;
    opacity: 0.8;
    text-decoration: none;
    line-height: 50px;
    background: #666;
    cursor: pointer;
}
.fixleft .tel {
    background-image: url(../images/tel.png);
}
.fixleft .gotop {
    background-image: url(../images/gotop.png);
    position: fixed;
    bottom: 20px;
    display: none;
    cursor: pointer;
    opacity: 0.8;
}
.fixleft > a:after {
    content: attr(title);
    position: absolute;
    width: 90px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    background: #d81b1f;
    right: -40px;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.fixleft > a:hover {
    opacity: 1 !important;
    background-color: #d81b1f;
}

.fixleft > a:hover:after {
    right: 50px;
    opacity: 1;
}
/***********************************客服 end **************************************************/

/*********************************** 门户导航栏 begin **************************************************/
/*#h_menu{height:41px; line-height:41px;  color:#FFF; font-size:14px;}*/
/*#h_menu ul li{ float:left; width:10%; text-align:center; cursor:pointer;}*/
/*.pinned2{ background:#d71920; width:100%; z-index:1036; position:absolute; right:0px; }*/
/*#h_menu ul li a{display:block; color:#FFF; }*/
/*#h_menu ul li a:hover{ background:#e14a50; display:block; color:#FFF; }*/
/*#h_menu ul li a.cur{ background:#af080e;}*/
/*********************************** 门户导航栏 end **************************************************/

/*二维码*/
.ticket {
height: 34px;
margin-top: 14px;
}
.ticket .no-ticket {
color: #444;
border-color: #d9d9d9;
background-color: #f5f5f5;
}
.get-ticket {
float: left;
width: 120px;
height: 36px;
line-height: 36px;
padding: 6px;
position: relative;
border: 1px solid #cd3016;
color: #fff;
font-size: 16px;
}
.icon-qrcode {
float: left;
margin-right: 10px;
}
.icon-qrcode-dark {
width: 19px;
height: 19px;
background-position: 0 -50px;
}
 .icon-qrcode-dark {
background-image: url(../images/erwei.png);
background-repeat: no-repeat;
}
.qrcode span{
	position: relative;
	top: -9px;
}
.ticket em {
color: #cd3016;
}
.ticket-num {
float: left;
height: 38px;
line-height: 38px;
padding-left: 10px;
color: #888;
}
.erweima{
	width: 100%;
	height: 100%;
	padding-left: 50px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.3);
}
.erweima h2{
	/*text-align: center;*/
	margin-top: 50px;
	margin-bottom: 30px;
}
.erweima p{
	line-height: 40px;
	font-size: 14px;
	font-weight: normal;
}
.erweima p a{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
.erweima p a:hover{
	color: #fff !important;
	font-weight: normal;
}
.erweima p i{
	color: #fff;
	font-weight: normal;
}
.over{
	display:inline-block;
	background: #888;
	padding: 0 6px;
	height: 24px;
	line-height: 24px;
	border-radius: 1px;
}
.open_show{
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0);
	position: absolute;
	left: 0;
	top: 0;
}
.erweiimg{
	position: absolute;
	right: 0;
	bottom: 0;
}
.erweiimgb{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.erweiimg img{
	display: block;
}

.erweiimgb img{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -90px;
	margin-left: -90px;
}

/***************************   header 样式   gr ********************/

.topline {
    background:#D71921;
    width:100%;
    border-top:1px solid #D71921;
}
.topline .container {
    width:1200px;
    padding:0px;
}
.topline .logo {
    float:left;
}

.topline .menutop {
    float:right;
}
.topline .menutop li {
    height:80px;
    text-align:center;
    float:left;
    background:url(../images/mainNavActive.png) repeat-y 100% 0;
    padding-right:2px;
}

.topline .menutop li a {
    display:block;
    width:100px;
    height:80px;
    line-height:80px;
    color:#f6dddd;
    font-size:16px;
    text-decoration:none;
    background:url(../images/bg001.png) repeat-x 0px -80px;
    transition-duration:0.5s;
    overflow:hidden;
}
.topline .menutop li:hover a {
    color:#ffffff;
    background:url(../images/bg001.png) repeat-x 0px 0px;
}
.topline .menutop li.active a {
    background:url(../images/bg001.png) repeat-x 0px 0px;
    color:#ffffff;
}
/***************************   header 样式**********************/
