<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd">
    
    <!-- For mail settings and future properties files -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
               <!--  <value>classpath:ecps/datasource/jdbc.properties</value>
                <value>classpath:ecps/datasource/mail.properties</value> -->
            </list>
        </property>
    </bean>
	
	<import resource="classpath:clouds/datasource/applicationContext-datasource.xml" />
	
	<!-- session -->
    <!-- web server:com.iss.hzclouds.webapp.session.HttpSessionProvider -->
    <!-- redis:com.iss.hzclouds.webapp.session.RedisSessionProvider -->
    <bean id="sessionProvider" class="com.mi.dpay.web.session.HttpSessionProvider"></bean>
	
</beans>
